body {
  margin: 0;
  background: #0f172a;
  color: #e2e8f0;
  font-family: 'Courier New', monospace;
}

/* TERMINAL HEADER */
.terminal {
  padding: 60px 20px;
  border-bottom: 1px solid #1e293b;
}

.green {
  color: #22c55e;
}

h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #38bdf8;
}

/* TYPE EFFECT STYLE */
.type {
  color: #94a3b8;
}

/* SECTIONS */
section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #22c55e;
  margin-bottom: 15px;
}

/* CARDS */
.card {
  border: 1px solid #1e293b;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  border-color: #38bdf8;
  transform: translateY(-5px);
}

/* LINKS */
a {
  color: #38bdf8;
  text-decoration: none;
}
